<% if flash[:notice].present? %>
  <li><%= flash[:notice] %></li>
<% else %>
  <% if flash[:error].class == Array %>
    <% flash[:error].each do |error_msg| %>
      <li><%= error_msg %></li>
    <% end %>
  <% else %>
    <%= flash[:error] %>
  <% end %>
<% end %>
